name: Javascript Client

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/javascript-client.yml
      - javascript-client/**

  pull_request:
    branches: [main]
    paths:
      - .github/workflows/javascript-client.yml
      - javascript-client/**

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: "16"
          cache: "yarn"
          cache-dependency-path: javascript-client/package.json

      - name: Build
        working-directory: javascript-client
        run: |
          yarn
